.img-logo{
  width: 2.5rem;
  height: 4.4375rem;
  aspect-ratio: 40/71;
}

.logo-box{
  display: flex;
  margin-bottom: 1rem;
  height: 2.87rem;
  justify-content: center;
  align-items: center;
  background-color: #A9B89E;

}


