.logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2E4159;
  height: 3rem;
  padding: 0 1rem;
}

.center-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-text {
  font-family: 'Oregano', cursive;
  font-size: 1.2rem;
  color: white;
}

.img-user,
.img-settings {
  width: 1.5rem;
  height: 1.5rem;
}


.img-logo{
  width: 2rem;
  height: 2rem;
}

.user-name {
  color: white;
  font-weight: bold;
  cursor: default;
  margin-right: 1rem;
}

