<div class="header">
  <div class="logo-box">
    <img class="img-settings" src="assets/home.svg" alt="configurações" routerLink="/home">


    <div class="center-content">
      <span class="logo-text" routerLink="/home" >WIKIBEL</span>
      <img class="img-logo" src="./assets/LogoBranca.png" alt="logo central">
    </div>

    <img class="img-user" src="./assets/UserHeader.svg" alt="usuário" routerLink="/login">
  </div>
</div>

<!--<img class="img-logo" src="./assets/logo.png" alt="logo">-->
