<div class="tourism-page">

  <h1>Adicionando pontos</h1>
  <div class="input-box">
    <input placeholder="buscar">
    <img src="assets/search.svg" alt="buscar">
  </div>


  <div class="input-box-name">
    <label for="name">Insira o nome para rota:</label>
    <input id="name" placeholder="Nome..." [(ngModel)]="nomeRota" />
  </div>

  <div class="btn-box">
    <button *ngFor="let ponto of pontosDisponiveis" (click)="togglePonto(ponto)" [class.selected]="estaSelecionado(ponto)">
      {{ ponto.nome }}
    </button>

  </div>
  <button (click)="salvar()">Salvar</button>
</div>
