
.tourism-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.input-box{
  display: flex;
  input{
    width: 20rem;
    height: 2.3rem;
    background: white;
    border: 1px solid grey;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: transparent;
    transition: height 0.3s ease-in-out;


  }


  img{
    border: 1px solid grey;
    width: 2rem;
    height: 2.45rem;
    border-left: transparent;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

  }
}

input:focus{
  outline: none;
}

.input-box-name{
  display: flex;
  flex-direction: column;
  input{
    width: 20rem;
    height: 2.3rem;
    background: white;
    border: 1px solid grey;
    border-radius: 1rem;
    transition: height 0.3s ease-in-out;



  }

  img{
    border: 1px solid grey;
    width: 2rem;
    height: 2.45rem;
    border-left: transparent;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

  }
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

button{
  width: 25rem;
  height: 3.5rem;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid grey;
  border-radius: 1rem;
  transition: height 0.3s ease-in-out;

  &:hover{
    background: #F2F2F2;
  }

}

button.selected {
  background-color: #d1f0e8;
  border: 2px solid #0ca678;
  font-weight: bold;
  color: #0b5f47;
  position: relative;
}



a{
  color: #2E4159;
  font-family: 'Segoe UI', sans-serif;
}

.saveButton{
  font-size: 1rem;
  color: white;
  background: #0ca678;
}
