
body {
  font-family: 'Open Sans'; 
    }
  
.tittle {
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-align: center;
    margin: 0;
  }

  .line {
    border: black;
    height: 4px;
    margin: 10px 0;
  }
 #firstParagraph   {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 2px;
  }

  #secondParagraph {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    margin-top: 1px;
  }

  .time p  {
    margin: 15px;
  }

  h1, h2 {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
  }

 .FortePicture {
 max-width: 100%;
 width: 2000px;
 height: 600px;
 }

  .map  img {
    max-width: 100%;
  }

#year {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}




  

  

