
body {
  font-family: 'Open Sans'; 
    }
  
.titulo {
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    margin: 0;
  }

  .linha {
    border: none;
    height: 4px;
    margin: 10px 0;
  }
  #paragrafo {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }

  .Horario p  {
    margin: 15px;
  }

  h1, h2 {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
  }

  .caixa-imagem  img {
    max-width: 100%;
  }




  

  

