<div class="container" >
  <h1>Parceiros</h1>

  <div class="partners">
    <p>ArtMana</p>
    <img class="logo" src="assets/Artmana.png" alt="logo" >
    <div class="socialMediaContainer">
      <a href="https://www.instagram.com/artmana_/" >
    <img src="assets/instagram-icon.png" alt="SocialMedia" class="socialMedia" >
      </a>
      <a>
    <img src="assets/Facebook_f_logo.png" alt="SocialMedia" class="socialMedia" >
      </a>
    </div>
    <a>artmana_&#64;hotmail.com</a>
  </div>

  <div class="partners">
    <p>Tacaca da Flavia</p>
    <img class="logo" src="assets/tacacadaflavia.jpg" alt="logo" >
    <div class="socialMediaContainer">
      <a href="https://www.instagram.com/artmana_/" >
        <img src="assets/instagram-icon.png" alt="SocialMedia" class="socialMedia" >
      </a>
      <a>
        <img src="assets/Facebook_f_logo.png" alt="SocialMedia" class="socialMedia" >
      </a>
    </div>
    <a>tacaca_&#64;hotmail.com</a>
  </div>




</div>
