

<div class="register-wrapper" >
<div class="register-area">
    <h1>Cadastrar</h1>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

      <label for="email" >Email</label>
      <div class="input-box">
        <img src="./assets/Mail.svg" alt="email">
        <input  id="email" type="email" formControlName="email" class="email" placeholder="Email" />
      </div>

      <label  for="name">Nome de Usuário</label>
      <div class="input-box">
        <img src="./assets/User.svg" alt="lock">
        <input id="name" type="text" formControlName="usuario" class="form-control" placeholder="Nome de Usuário" />
      </div>

      <label for="password" >Senha</label>
      <div class="input-box">
        <img src="./assets/Key.svg" alt="senha">
        <input  id="password" type="password" formControlName="senha" class="password" placeholder="Senha" />
      </div>

      <label for="phone" >Telefone</label>
      <div class="input-box">
        <img src="./assets/Phone.svg" alt="lock">
        <input id="phone"  type="number" formControlName="telefone" class="form-control" placeholder="Telefone" />
      </div>

      <button class="register-button" type="submit">Cadastrar</button>
    </form>

  <a>Ja possui uma conta?<span routerLink="/login">Entrar</span></a>
  </div>
</div>
