<div class="container">
  <!-- Boas-vindas -->
  <div class="text-box">Seja Bem-Vindo ao WIKIBEL!</div>

  <!-- Navegação principal -->
  <div class="dic" routerLink="/dicionario" role="button" tabindex="0">Dicionário Paraense</div>
  <div class="tourism" routerLink="/turismo" role="button" tabindex="0">Turismo</div>
  <div class="culture" routerLink="/culture" role="button" tabindex="0">Cultura</div>
  <div class="partners" routerLink="/parceiros" role="button" tabindex="0">Parceiros</div>

</div>

<app-navbar></app-navbar>
