.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  padding-bottom:6rem ;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.text-box {
  border-radius: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 28rem;
  min-height: 6.5rem;

  font-size: 1.3rem;
  background: linear-gradient(90deg, rgba(46, 65, 89, 1) 41%, rgba(9, 9, 121, 1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
}

.dic,
.tourism,
.culture,
.partners {
  position: relative;
  width: 90%;
  max-width: 28rem;
  height: 7rem;
  color: white;
  text-align: start;
  font-size: 1.4rem;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  img {
    width: 3.8rem;
    height: 3.8rem;
    margin-right: 1rem;
  }

  &:hover {
    height: 9.5rem;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
}

// Específicos por botão
.dic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/BandeiraPara.png");

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/assets/BandeiraPara.png");
  }
}

.tourism {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/VerOPeso.jpg");

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/assets/VerOPeso.jpg");
  }
}

.culture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/CulturaWIKIBEL.png");

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/assets/CulturaWIKIBEL.png");
  }
}

.partners {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/ParceirosWIKIBEL.png");
  background-size: 210%;

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("/assets/ParceirosWIKIBEL.png");
    background-size: 210%;
  }
}

// Responsivo
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-box {
    font-size: 1.4rem;
    width: 40%;
  }

  .dic,
  .tourism,
  .culture,
  .partners {
    font-size: 1.5rem;
    width: 40%;
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
  .text-box {
    font-size: 1.5rem;
    width: 30%;
  }

  .dic,
  .tourism,
  .culture,
  .partners {
    width: 30%;
    font-size: 1.6rem;
  }
}
