<div class="container">
  <div class="text-box">Seja Bem-Vindo ao WIKIBEL, seu acervo de informação sobre a  história e cultura de Belém do Pará!
  </div>

    <div class="dic">Dicionário Paraense</div>
    <div class="tourism"> Turismo</div>
    <div class="culture"> Cultura</div>
    <div class="partners"> Parceiros</div>


<!--  Colocar em uma aba "Sobre nós"-->

<!--  <div class="text-box">Somos uma equipe de estudandes do Cesupa. Fizemos esse aplicativo com o intuito de centralizar-->
<!--    informações históricas e culturais sobre Belém do Pará. Facilitando a forma de informar tanto turistas e residentes-->
<!--    o quão rica e completa é a nossa história e cultura.-->
<!--  </div>-->

</div>

<app-navbar></app-navbar>
