.container {
  display: flex;
  flex-direction: column; /* Agora empilha os filhos na vertical */
  align-items: center;    /* Centraliza horizontalmente */
  gap: 0.19rem;
  padding: 2rem;
}



.text-box {
  border-radius: 1.2rem;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.875rem;
  height: 6.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  background: linear-gradient(90deg,rgba(46, 65, 89, 1) 41%, rgba(9, 9, 121, 1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.dic {
  position: relative;
  img {
    width: 5.2rem;
    height: 5.2rem;
  }
  color: white;
  text-align: start;
  font-size: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/BandeiraPara.png");
  background-size: cover;
  background-position: center;
  width: 26.9rem;
  height: 7rem;
  transition: height 0.6s ease, background-image 0.4s ease;

  &:hover {
    height: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/BandeiraPara.png");
  }
}

.tourism {
  position: relative;
  img {
    width: 5.2rem;
    height: 5.2rem;
  }
  color: white;
  text-align: start;
  font-size: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/VerOPeso.jpg");
  background-size: cover;
  background-position: center;
  width: 26.9rem;
  height: 7rem;
  transition: height 0.6s ease, background-image 0.4s ease;

  &:hover {
    height: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/VerOPeso.jpg");
  }
}

.culture {
  position: relative;
  img {
    width: 5.2rem;
    height: 5.2rem;
  }
  color: white;
  text-align: start;
  font-size: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/CulturaWIKIBEL.png");
  background-size: cover;
  background-position: center;
  width: 26.9rem;
  height: 7rem;
  transition: height 0.6s ease, background-image 0.4s ease;

  &:hover {
    height: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/CulturaWIKIBEL.png");
  }
}

.partners {
  position: relative;
  img {
    width: 5.2rem;
    height: 5.2rem;
  }
  color: white;
  text-align: start;
  font-size: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/ParceirosWIKIBEL.png");
  background-size: 210%; // aumenta a imagem
  background-position: center;
  width: 26.9rem;
  height: 7rem;
  transition: height 0.6s ease, background-image 0.4s ease;

  &:hover {
    height: 10rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/ParceirosWIKIBEL.png");
    background-size: 210%; // aumenta a imagem
  }
}


//.grid-container {
//  display: grid;
//  gap: 6rem;
//  padding: 1rem;
//  grid-template-columns: repeat(2, 1fr);
//
//}

