<div class="container">
  <h1>Detalhes da Rota</h1>

  <div *ngIf="rota; else rotaNaoEncontrada">
    <h2>{{ rota.name }}</h2>
<!--    <p>ID da Rota: {{ rota.id }}</p>-->
<!--    <p>ID do Membro: {{ rota.member_id }}</p>-->

    <h3>Monumentos Associados</h3>
    <div *ngIf="monumentos.length > 0; else semMonumentos">
      <ul>
        <li *ngFor="let monumento of monumentos">
          <strong>{{ monumento.name || 'Monumento sem nome' }}</strong>
          <p>{{ monumento.description || 'Sem descrição' }}</p>
        </li>
      </ul>
    </div>
    <ng-template #semMonumentos>
      <p>Nenhum monumento associado a esta rota.</p>
    </ng-template>
  </div>

  <ng-template #rotaNaoEncontrada>
    <p>Rota não encontrada.</p>
  </ng-template>

  <button (click)="voltar()">Voltar</button>
</div>
